.layout-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  background: white;
  border-right: 1px solid var(--color-border);
  padding: 20px;
}

.sidebar-title {
  font-size: 1.6rem;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 20px;
}

.section-title {
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-gray);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-nav a {
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--color-dark);
  text-decoration: none;
  font-weight: 500;
}

.sidebar-nav a:hover {
  background: var(--color-primary-light);
  color: white;
}

.header {
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--color-border);
}

.header-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.header-user {
  font-size: 0.9rem;
  color: var(--color-gray);
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  padding: 24px;
}

/*KITTSYA*/